<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
		<%= current_user.username%>
		<%= f.hidden_field :name, :value => current_user.username %>
  </div>
  <div class="field">
    <%= f.label :sentence %><br>
    <%= f.text_field :sentence %>
  </div>
  <div class="field">
    <%= f.label :published %><br>
    <%= f.date_select :published %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
