<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>ユーザー名<br />
  <%= f.text_field :username, autofocus: true %></div>

  <div>パスワード<br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %>次回から自動で入力する。</div>
  <% end -%>

  <div><%= f.submit "ログイン" %></div>
<% end %>

<%= render "devise/shared/links" %>
