<h1>
  <%= @board.title %>
</h1>

<p>
  <strong>Name:</strong>
  <%= @board.user.username %>
  <strong>Published:</strong>
  <%= @board.published %>
</p>
<hr><hr>

<div>
<% @comments.each do |comment|%>
<p><%= image_tag comment.img.url(:thumb) %></p>
<p><%= comment.sentence%>[<%= comment.user.username%>:<%= comment.published%>]</p>
</div>
<hr>
<% end%>


<hr>
<% if user_signed_in? %>
	<div>
	<h2>コメント投稿</h2>
	<%= form_for(@commentForm) do |f| %>
	  <% if @commentForm.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@commentForm.errors.count, "error") %> prohibited this comment from being saved:</h2>
	
	      <ul>
	      <% @commentForm.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
	  <div class="field">
			<% @board.id %>
			<%= f.hidden_field :board_id, :value => @board.id %> 
	  </div>
	  <div class="field">
			<%= f.hidden_field :user_id, :value => current_user.id %>
	  </div>
	  <div class="field">
	    <%= f.label :sentence %><br>
	    <%= f.text_field :sentence %>
	  </div>
		<div>
			  <%= f.file_field :img %>
		</div>
	  <div class="field">
	  </div>
	  <div class="field">
	    <%= f.label :published %><br>
	    <%= f.date_select :published %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
	</div>
<% else%>
	<div><p>コメントを投稿するにはログインして下さい。</p></div>
<% end%>

<%= link_to 'スレッド一覧', boards_path %>
